<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="../static/CSS/admin.css">
</head>
<body>
    <div class="heading-and-dot">
        <h1>DataNest</h1>
        <div class="red-dot"></div>
    </div>
    <div id="admin-section">
    <form action="/admin" method="POST" id="optionForm">
        <div>
            <label for="departments">Choose a department:</label>
            <select id="departments" name="department">
                <option value="AIML">AIML</option>
                <option value="CSE">CSE</option>
                <option value="ISE">ISE</option>
                <option value="EC">EC</option>
                <option value="MECH">MECH</option>
            </select>
        </div>
        <button type="submit" class="login-button">Submit</button>
    </form>

    {% if counts %}
    <div style="display: flex; justify-content: space-around;">
        <canvas id="barChart" width="400" height="400"></canvas>
        <canvas id="pieChart" width="400" height="400"></canvas>
    </div>

    <script>
        var counts = [{{ counts | safe }}];  
        var ctxBar = document.getElementById('barChart').getContext('2d');
        var ctxPie = document.getElementById('pieChart').getContext('2d');

        var barChart = new Chart(ctxBar, {
            type: 'bar',
            data: {
                labels: ['Journal', 'Conference', 'BookChapter', 'FundedResearchProject', 'ResearchProposalSubmitted', 'Consultancy', 'ProductDevelopment', 'Patent', 'Workshop/SeminarAttended', 'MOUCS', 'Achievements/Awards', 'MOUS', 'FundedStudentProject'],
                datasets: [{
                    label: 'Counts',
                    data: counts,
                    backgroundColor: 'rgba(128, 128, 128, 0.4)',
                    borderColor: 'rgba(255, 255, 255, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                responsive: false
            }
        });

        var pieChart = new Chart(ctxPie, {
            type: 'pie',
            data: {
                labels: ['Journal', 'Conference', 'BookChapter', 'FundedResearchProject', 'ResearchProposalSubmitted', 'Consultancy', 'ProductDevelopment', 'Patent', 'Workshop/SeminarAttended', 'MOUCS', 'Achievements/Awards', 'MOUS', 'FundedStudentProject'],
                datasets: [{
                    label: 'Counts',
                    data: counts,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 99, 132, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(255, 99, 132, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: false
            }
        });
    </script>
    {% endif %}

    <form action="/admin" method="POST" id="infoForm">
        <div>
            <label for="info">Choose Sub options:</label>
        <select id="info" name="info">
            <option value="Journal">Journal</option>
            <option value="Conference">Conference</option>
            <option value="BookChapter">Book Chapter</option>
            <option value="FundedResearchProject">Funded Research Project</option>
            <option value="ResearchProposalSubmitted">Research Proposal Submitted</option>
            <option value="Consultancy">Consultancy</option>
            <option value="ProductDevelopment">Product Development</option>
            <option value="Patent">Patent</option>
            <option value="FDPWorkshopSeminarAttendedByFaculty">FDP/Workshop/Seminar Attended by Faculty</option>
            <option value="MOUCS">MOUCS / Swayam / Coursera any other certification courses</option>
            <option value="AchievementsAndAwards">Achievements and Awards</option>
            <option value="MOUS">MOUS</option>
            <option value="FundedStudentProject">Funded Student Project</option>
        </select>
        </div>
        <button type="submit" class="login-button">Submit</button>
    </form>

    {% if data %}
    <h2 id="selected-table">{{ selected_table }}</h2>
    <table border="1">
        <thead>
            <tr>

                {% if selected_table == "Journal" %}

                <th>Department ID</th>
                <th>Authors</th>
                <th>Year of Publication</th>
                <th>Title</th>
                <th>Journal Name</th>
                <th>Volume & Page Number</th>
                <th>ISSN</th>
                <th>Impact Factor</th>

                {% elif selected_table == "Conference" %}
                
                <th>Department ID</th>
                <th>Year of publication</th>
                <th>author</th>
                <th>Title</th>
                <th>Conference Name</th>
                <th>Volume & Page Number</th>
                <th>Organized by</th>
                <th>place of conference</th>

                {% elif selected_table == "BookChapter" %}
                <th>Department ID</th>
                <th>Year of publication</th>
                <th>author</th>
                <th>Chapter Title</th>
                <th>Book Title</th>
                <th>Publisher</th>
                <th>ISSN</th>

                {% elif selected_table == "FundedResearchProject" %}
                <th>Department ID</th>
                <th>Year Sanctioned</th>
                <th>Principal investigator</th>
                <th>COPI</th>
                <th>project title</th>
                <th>Funding agency</th>
                <th>Amount Rs</th>
                <th>Status </th>
                {% elif selected_table == "ResearchProposalSubmitted" %}
                <th>Department ID</th>
                <th>Date of sanction</th>
                <th>Principal investigator</th>
                <th>COPI</th>
                <th>Title</th>
                <th>Funding agencies</th>
                <th>Amount applied</th>
                <th>Status</th>
                {% elif selected_table == "Consultancy" %}
                <th>Department ID</th>
                <th>Amount Sanctioned</th>
                <th>Principal investigation</th>
                <th>COPI</th>
                <th>Title</th>
                <th>Agency</th>
                <th>Year</th>
                <th>Type</th>
                {% elif selected_table == "ProductDevelopment" %}
                <th>Department ID</th>
                <th>Product Type</th>
                <th>Product Description</th>
                <th>Area of application</th>
                <th>Sponsoring/Funding
                </th>
                <th>Faculty Mentor Name</th>
                <th>Student Name</th>
                <th>Status</th>
                {% elif selected_table == "Patent" %}
                <th>Department ID</th>
                <th>Year of publication</th>
                <th>Principal investigation</th>
                <th>Patent number</th>
                <th>Title </th>
                <th>Indian/international</th>
                <th>Status
                </th>

                {% elif selected_table == "FDPWorkshopSeminarAttendedByFaculty" %}
                <th>Department ID</th>
                <th>Date</th>
                <th>Topic</th>
                <th>Duration</th>
                <th>Coordination</th>
                <th>Organizer</th>
                <th>faculty name</th>

                {% elif selected_table == "MOUCS" %}
                <th>Department ID</th>
                <th>Date</th>
                <th>Duration</th>
                <th>organization_name</th>
                <th>Type of Mou</th>
                <th>Outcomes</th>
                <th>Faculty incharge</th>

                {% elif selected_table == "AchievementsAndAwards" %}
                <th>Department ID</th>
                <th>Date</th>
                <th>Event name</th>
                <th>Organizer</th>
                <th>Mentor Name</th>
                <th>Names of the Faculty</th>
                <th>Type of participation</th>
                <th>Outcomes</th>
                {% elif selected_table == "MOUS" %}
                <th>Department ID</th>
                <th>Date</th>
                <th>Major Area </th>
                <th>Topic</th>
                <th>Duration</th>
                <th>Certified by</th>
                <th>Attended by Faculty</th>
                <th>Attended by Student</th>
                {% elif selected_table == "FundedStudentProject" %}
                <th>Department ID</th>
                <th>Year Sanctioned</th>
                <th>Supervison</th>
                <th>Co-Supervison</th>
                <th>Student Name</th>
                <th>Project Title</th>
                <th>Funding Agencies</th>
                <th>Amount</th>
                <th>Status</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                {% for item in row %}
                <td>{{ item }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
</body>
</html>
